@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
body{
    margin: 15px;  
   text-align: center;
    box-shadow: 0 50px 40px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    width: 300px;
    border: 5px solid #ffffff;
    padding: 15px;
    image-resolution: 50px;
    margin-left: 450px;
    background-size: contain;
    text-align: center;
    background-repeat: no-repeat;
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
    text-align: center;
    margin-top: 10%;
}

header {
    background-color: #eb8007;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    border-radius: 8px;
    border: 1px solid #080808;
    position: fixed;
    width: 100%;
    top: 0;
}

button {
    background-color: #eb8007;
    color: #fff;
    border: none;
    padding: 8px 14px;
    font-size: 0.59em;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #ffa600; 
}

#password{
margin-bottom: 40%;
}
h1{
    background-color: #eb8007;
    height: 50px;
    width: 80px;
    margin-left: 100px;
    border-radius: 20px;
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
}

h2{
    background-color: #eb8007;
    height: 40px;
    width: 100px;
    margin-left: 100px;
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
    border-radius: 20px;
}
input{
    height: 20px;
    color: #0c0b0b;
}