body{
background-image: url('../assets/images/register_box.jpg');
background-repeat: no-repeat;
background-size: 100% 100%;
background-size: cover;

   background-color: var(--clr-black);
}

.content {
    padding: 20px;
}
#navbar {
    position: fixed; 
    top: 0; 
    width: 100%; 
    background: rgba(255, 255, 255, 0);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px); 
    padding:  3px; 
}
#logo {
    display: flex;
    justify-content: flex-start;
}

#logo img {
    width: 90px;
}

nav ul {
    list-style: none;
    background: rgba(255, 255, 255, 0);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    position: sticky;
    z-index: 999;
    height: fit-content;
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
}

 nav ul li {
    display: inline-block;
    position: relative;
    font-weight: bolder;
}

nav ul li a {
    display: block;
    padding: 20px 25px;
    color: var(--clr-Basic);
    text-decoration: none;
}
    
    


nav ul li ul.drop-down {
    border: 2px solid var(--clr-bronze);
    width: 100%;
    background-image: url('../assets/images/italy\ flag_-bg.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    height:fit-content;
    background-position:center;
    border-radius: 10px;
    position: absolute;
    z-index: 999;
    display: none;
    top: 100%;
    text-align: center;
    
}

nav ul li ul.drop-down li {
    display: block;
    border-radius: 10px;
}

nav ul li ul.drop-down li:hover {
    box-shadow: 0px -1px 20px 1.0px var(--clr-Basic),
    0px -1px 20px 1.0px var(--clr-Basic),
    0px -1px 20px 1.0px var(--clr-Basic);
}

nav ul li:hover > ul.drop-down {
    display: block;
}

nav ul li ul.drop-down li {
    display: block;
    padding: 10px;
}
nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


nav ul li ul.drop-down li  span{
    font-weight: bold;
    color: var(--clr-black);
    font-size: var(--p-f-size);
}

.grid{
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr 1fr 1fr;  
}
    


#container  {
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#Register{
    font-size: var(--header-f-size);
}
#Register-container {
    padding: 60px;
    padding-top: 10px;
    margin-top:70vh;
    width: 400px;
    height: 650px;
    border-radius: 10px;
    background-color: var(--clr-black);
    box-shadow: 0px -1px 20px 1.0px var(--clr-Basic ),
    0px -1px 20px 1.0px var(--clr-black ),
    0px -1px 20px 1.0px var(--clr-Basic );
}

#Register{
    text-align: center;
    color: var(--clr-Basic );
    font-weight: bold;
    font-size:  var(--main-header-f-size);
    
}
.input-group input{
    width: 70%;
    padding: 7px;
    margin-top: 30px;
    margin-left: 50px;
    box-shadow: 0px -1px 20px 1.0px var(--clr-Basic ),
    0px -1px 20px 1.0px var(--clr-black),
    0px -1px 20px 1.0px var(--clr-Basic );
    border-radius: 5px;
    background: rgba(255,255,255,0);
    -webkit-backdrop-filter: blur(1px);
    backdrop-filter: blur(1px);
    border: 1px solid rgba(255,255,255,0);
    border: 1px solid rgba(242,245,246,0.025);
}
.input-group :hover{
    cursor: pointer;
    box-shadow: 0px -1px 20px 1.0px var(--clr-hover-list),
    0px -1px 20px 1.0px var(--clr-hover-list),
    0px -1px 20px 1.0px var(--clr-hover-list);
}
.input-group :focus{
    cursor: pointer;
    box-shadow: 0px -1px 20px 1.0px var(--clr-hover-list),
    0px -1px 20px 1.0px var(--clr-hover-list),
    0px -1px 20px 1.0px var(--clr-hover-list);
    
}
#Birth-date {
    padding-top: 30px;
}
#Birth-date input{
    margin-top:  -25px;
    padding-top: 40px;
}
#Birth-date label{
    color: var(--clr-Basic);
    margin-left: 140px;
    font-weight: bolder;
    font-size: var(--p-f-size);
    color: var(--clr-Basic);
    text-decoration:overline underline wavy;
    
}
#Register-container ::-webkit-input-placeholder{
    color: var(--clr-Basic);
}

.btn-Cl-Re a {
    text-decoration: none; 
    color: var(--clr-Basic);
}
#Remember{
    visibility:hidden;
    color: var(--clr-Basic);
}
#Register-container:focus-within #Remember{
    visibility: visible;
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
}

#Cl-Re-wrapper {
    text-align: center;

}
#Cl-Re-wrapper{
    visibility: hidden;
}
#Register-container:focus-within #Cl-Re-wrapper{
    visibility: visible;
    text-align: center;
}
#RegisterBtn{
    text-decoration: none;
}

.btn-Cl-Re{
    width: fit-content;
    height: fit-content;
    margin-top: 50px;
    color:var(--clr-Basic);
    font-size: var(--p-f-size);
    font-weight: bold;
    border-radius: 5px;
    background: rgba(255,255,255,0);
    -webkit-backdrop-filter: blur(1px);
    backdrop-filter: blur(1px);
    border: 1px solid rgba(255,255,255,0);
    border: 1px solid rgba(242,245,246,0.025);
    
}
.btn-Cl-Re:hover{
    cursor: pointer;
    box-shadow:0px -1px 20px 1.0px var(--clr-hover-list),
    0px -1px 20px 1.0px var(--clr-hover-list),
    0px -1px 20px 1.0px var(--clr-hover-list);  
}
#remember input[type="checkbox"] {
    margin-right: 500px;
    border-radius: 20px;
}

