body{
    background-color: var(--clr-black);
    display: flex;
    align-items: center;
    min-height: 100vh;
    color: var(--clr-Basic);
}
.navHeader {
    width: 100%;
    height: 35vh;
    position: fixed;
    top: 0;
    /* background-color: #fff; */
    z-index: 999;
    display: flex;
    align-items: center;
    overflow: hidden;
}
#logo img{
    width: 90px;
    margin-top: -25px;
    
}
#hamburger {
    display: flex;
    font-size: 1.2em;
    color: black;
    font-weight: bold;
    padding: 5px;
    cursor: pointer;
    flex-grow: 0.99;
    align-items: center;
}


#burgerIcon{
    display: none;
}

ul {
    list-style: none;
    list-style-type: none;
    display: flex;
    flex-grow: 0.99;
}
ul li {
    display: inline-block;
    position: relative;
}
ul li a {
    display: block;
    padding: 20px 25px;
    text-decoration: none;
    width: 150px;
    color: var(--clr-bronze);
    text-align: center;
    font-size: 1.2em;
}
ul li ul.drop-down li{
    display:static;
    padding-top: 15px;
}
ul li ul.drop-down {
    width: 100%;
    top:100%;
    position:flex;
    z-index: 999;
    display: none;
    background-image: url('../assets/images/italy flag_-bg.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
    height:fit-content;
    border: 2px solid var(--clr-bronze); 
    border-radius: 20px; 
    text-align: center;
}

ul li a:hover {
    font-weight: bolder;
}
ul li:hover ul.drop-down {
    display: block;
}


.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr  1fr;
    
}
.grid #logo{
    text-align: left;
 }

 
 .wrapper{
    position: relative;
    width: 400px;
    height: 440px;
    margin-left: 100%!important;
    margin-top: 40%!important;
    border: double 5px var(--clr-Basic)!important;
    border-radius: 20px;
    background-image: url('../assets/images/log_in_box.jpg');
    background-position: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
 
 }
.wrapper .form-box{
    width: 100%;
    padding: 40px;
}
.form-box h2{
    font-size: var(--main-header-f-size)!important;
    text-align: center;
    cursor: default;
}
.form-box p {
    cursor: default;
}

.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin-top: 8px;
    border-bottom: 2px solid var(--clr-black)!important;
}
.input-box input:hover{
    cursor: pointer;
}
.input-box label{
    position: absolute;
    top: 50%;
    left:5px;
    transform: translateY(-50%);
    font-size: 1em;
    font-weight: 550;
    padding-top: 15px;
    pointer-events: none;
}
.input-box input:focus ~ label,
.input-box input:valid ~ label{
    top: -5px;
    
}
.form-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    font-weight: 600;
    padding: 0 35px 0 50px !important;
    color: var(--clr-Basic);
}
.remember{
    font-weight: 600;
    font-size: 0.9em!important;
    display: flex;
    justify-content: space-between;
}
.remember label input{
    width: 15px;
    height: 15px;
    margin-right:5px;
}
.remember a{
    margin-top: 8px;
    color: var(--clr-Basic);
    text-decoration: none;
}
.remember a:hover{
    font-weight: bolder;
    text-decoration: underline;
}

.btn{
    width: 45%;
    height: 45px;
    background-color: var(--clr-black);
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: 500;
    color: var(--clr-Basic);
}
.btn:hover{
    font-weight: 600;
    background-color: var(--clr-Basic);
    color:var(--clr-black) ;
}

.Login-register {
    font-size: 1em;
    color: var(--clr-Basic);
    font-weight:600 ;
    margin: 25px 10px 0px !important ;
}
.Login-register a{
    text-decoration: none;
    font-weight: 600;
    margin-left: 190px;
}

.Login-register a:hover{
    text-decoration: underline;
    font-weight: bolder;
}






 


