
body{
    
    background-image:url('../assets/images/form_bg.jpg');
    background-repeat: no-repeat; 
    background-size:100% 100%;
    background-position:0 30%;
    background-attachment: fixed; 
}
body {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background-color: var(--clr-black);
    background-size: cover;
    color: var(--clr-Basic);
}
p{
    margin-top: 20px;
}
h{
    margin-top: 20px;
}
#navbar {
    position: fixed; 
    top: 0; 
    width: 100%; 
    background: rgba(255, 255, 255, 0);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px); 
    padding:  3px; 
}
#logo {
    display: flex;
    justify-content: flex-start;
}

#logo img {
    width: 90px;
}

nav ul {
    list-style: none;
    background: rgba(255, 255, 255, 0);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    position: sticky;
    z-index: 999;
    height: fit-content;
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
}

 nav ul li {
    display: inline-block;
    position: relative;
    font-weight: bolder;
}

nav ul li a {
    display: block;
    padding: 20px 25px;
    color: var(--clr-Basic);
    text-decoration: none;
}
    
    


nav ul li ul.drop-down {
    border: 2px solid var(--clr-bronze);
    width: 100%;
    background-image: url('../assets/images/italy\ flag_-bg.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    height:fit-content;
    background-position:center;
    border-radius: 10px;
    position: absolute;
    z-index: 999;
    display: none;
    top: 100%;
    text-align: center;
    
}

nav ul li ul.drop-down li {
    display: block;
    border-radius: 10px;
}

nav ul li ul.drop-down li:hover {
    box-shadow: 0px -1px 20px 1.0px var(--clr-Basic),
    0px -1px 20px 1.0px var(--clr-Basic),
    0px -1px 20px 1.0px var(--clr-Basic);
}

nav ul li:hover > ul.drop-down {
    display: block;
}

nav ul li ul.drop-down li {
    display: block;
    padding: 10px;
}
nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


nav ul li ul.drop-down li  span{
    font-weight: bold;
    color: var(--clr-black);
    font-size: var(--p-f-size);
}

.grid{
    grid-template-columns: 2fr 2fr 2fr 2fr 2fr 3fr;  
}
#content {
    padding: 20px;
    text-decoration: none;
}

#container h1{
    font-size: var(--main-header-f-size);
    color: var(--clr-Basic);
    margin-top: -200px;
}
#form-container{
    height: fit-content;
}
form ::placeholder{
    color: var(--clr-Basic);
    font-size: var(--p-f-size);

}
#container{
    background-image: url(../assets/images/inside_forms_bg.jpg);
    background-position: 0 30% ;
    background-size: cover;
    background-attachment:scroll; 
    background-attachment: flex;
    cursor: default;
    margin-top: 20vh;
    color:var(Basic);
    text-align: center;
    border: double 5px var(--clr-green);
    width: 50%;
    height: calc(100vh - 60vh);
    margin-left: 26%;
    padding-top: 15%;
    border-radius: 10px;
    box-shadow: 0px -1px 20px 1.0px var(--clr-Basic ),
    0px -1px 20px 1.0px var(--clr-black ),
    0px -1px 20px 1.0px var(--clr-Basic );
    margin-bottom: 200px;

}

form input{
    cursor: pointer;
    padding: 7px;
    width:200px;
    margin-bottom: 30px;
    border-radius: 10px;
    background: rgba(255,255,255,0);
    -webkit-backdrop-filter: blur(1px);
    backdrop-filter: blur(1px);
    border: 1px solid rgba(255,255,255,0);
    border: 1px solid rgba(242,245,246,0.025);
    box-shadow: 0px -1px 20px 1.0px var(--clr-Basic ),
    0px -1px 20px 1.0px var(--clr-black ),
    0px -1px 20px 1.0px var(--clr-Basic );
}



form input:hover{
    box-shadow: 0px -1px 20px 1.0px var(--clr-hover-list),
    0px -1px 20px 1.0px var(--clr-hover-list),
    0px -1px 20px 1.0px var(--clr-hover-list);
    background: rgba(255,255,255,0.2);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    
}
form input:focus{
    box-shadow: 0px -1px 20px 1.0px var(--clr-hover-list),
    0px -1px 20px 1.0px var(--clr-hover-list),
    0px -1px 20px 1.0px var(--clr-hover-list);
    background: rgba(255,255,255,0.2);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    
}

#Email-massege input{
    width:422px;
}
#message{
    cursor: pointer;
    border-radius: 10px;
    background: rgba(255,255,255,0);
    -webkit-backdrop-filter: blur(1px);
    backdrop-filter: blur(1px);
    border: 1px solid rgba(255,255,255,0);
    border: 1px solid rgba(242,245,246,0.025);
    box-shadow: 0px -1px 20px 1.0px var(--clr-Basic ),
    0px -1px 20px 1.0px var(--clr-black ),
    0px -1px 20px 1.0px var(--clr-Basic );
}




form  button{
    cursor: pointer;
    padding: 8px 30px;
    border-radius: 10px;
    font-size: var(--p-f-size);
    background: rgba(255,255,255,0);
    -webkit-backdrop-filter: blur(1px);
    backdrop-filter: blur(1px);
    border: 1px solid rgba(255,255,255,0);
    border: 1px solid rgba(242,245,246,0.025);
    box-shadow: 0px -1px 20px 1.0px var(--clr-Basic ),
    0px -1px 20px 1.0px var(--clr-black ),
    0px -1px 20px 1.0px var(--clr-Basic );
    
}
form button a{
    text-decoration: none;
    color: var(--clr-Basic);
}

form button:hover{
    box-shadow: 0px -1px 20px 1.0px var(--clr-hover-list),
    0px -1px 20px 1.0px var(--clr-hover-list),
    0px -1px 20px 1.0px var(--clr-hover-list);    
    background: rgba(255,255,255,0.2);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
        

}

footer {
    position: relative;
    width: 100%;
    overflow-y:auto;
    max-height: calc(100vh - 70vh);
    bottom:0;
    background-image: url(../assets/images/footer_background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 50vh;
    border-top: 5px double var(--clr-green);
}
#address{
    border: double black 5px;
    text-align: center;
    color: var(--clr-bronze);
    margin-top: 20px;
}
div+p{
    color: var(--clr-bronze);
    text-align: center;
}
.icons img{
    width: 35px;
    height: auto;
    margin: 10px;

}
footer .icons{
    position: relative;  
    display: flex;
    justify-content: center;
    align-items: center; 
    margin: 10px 0;
    flex-wrap: wrap;
  
}

