body{
    background-image: url('../assets/images/log_in_box.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.content {
    padding: 20px;
}
#logo img{
    width: 90px;
    height: center;
    
}
ul {
    list-style: none;
    background: rgba(255,255,255,0);
-webkit-backdrop-filter: blur(10px);
backdrop-filter: blur(10px);
    
    position: sticky;
    z-index: 999;
    height:  fit-content;
}

ul li {
    display: inline-block;
    position: relative;
}

ul li a {
    display: block;
    padding: 20px 25px;
    color: var(--clr-Basic);
    text-decoration: none;
    text-align: center;
    font-size: var(--p-f-size);
}

ul li ul.drop-down {
    border: 2px solid var(--clr-bronze);
    width: 100%;
    background-image: url('../assets/images/italy\ flag_-bg.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    height: 100px;
    background-position:center;
    border-radius: 10px;
    position: absolute;
    z-index: 999;
    display: none;
    top: 100%;
    
}

ul li ul.drop-down li {
    display: block;
    border-radius: 10px;
}

ul li ul.drop-down li:hover {
    box-shadow: 0px -1px 20px 1.0px var(--clr-Basic),
    0px -1px 20px 1.0px var(--clr-Basic),
    0px -1px 20px 1.0px var(--clr-Basic);
}

ul li:hover > ul.drop-down {
    display: block;
}

ul li ul.drop-down li {
    display: block;
    padding: 10px;
}
ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul li ul.drop-down li  span{
    font-weight: bolder;
    color: var(--clr-black);
}
.grid{
    display: grid;
    grid-template-columns: 1.5fr 0.25fr 0.25fr 0.25fr 0.25fr;
    
}
.grid #logo{
    text-align: left;
 }

#container {
    display:flex;
    justify-content: center;
    align-items: center;
    height: 105vh;

}

#Login{
    font-size: var(main-header-f-size);
}

#login-container {
    cursor:default;
    padding: 40px;
    width: 350px;
    height: 400px;
    border-radius: 10px;
    box-shadow: 0px -1px 20px 1.0px var(--clr-Basic ),
    0px -1px 20px 1.0px var(--clr-black ),
    0px -1px 20px 1.0px var(--clr-Basic );
}
#login-container:focus-within{
    background: rgba(255,255,255,0.4);
    -webkit-backdrop-filter: blur(7px);
    backdrop-filter: blur(7px);

}
#login-container ::-webkit-input-placeholder{
    color: var(--clr-Basic);
}

#Login{
    text-align: center;
    color: var(--clr-Basic );
    font-weight: bold;
    font-size:  1.75em;
    
}

.input-group :hover{
    cursor: pointer;
    box-shadow: 0px -1px 20px 1.0px var(--clr-hover-list),
    0px -1px 20px 1.0px var(--clr-hover-list),
    0px -1px 20px 1.0px var(--clr-hover-list);
}

.input-group input {
    width: 70%;
    padding: 7px;
    margin-top: 65px;
    margin-left: 50px;
    box-shadow: 0px -1px 20px 1.0px var(--clr-Basic ),
    0px -1px 20px 1.0px var(--clr-Basic ),
    0px -1px 20px 1.0px var(--clr-Basic );

    border-radius: 5px;
    background: rgba(255,255,255,0);
    -webkit-backdrop-filter: blur(1px);
    backdrop-filter: blur(1px);
    border: 1px solid rgba(255,255,255,0);
    border: 1px solid rgba(242,245,246,0.025);
}

#remember{
    visibility:hidden;
    color: var(--clr-green);
}

#login-container:focus-within #remember{
    visibility: visible;
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
}

#remember input[type="checkbox"]:active {
    margin-right: 5px;
    border-radius: 20px;
}

#signUp-link {
    text-align: center;
    font-weight: bold;
    color:var(--clr-Basic );
    margin-top: 50px;
}

#signUpBtn-link {
    color: var(--clr-green);
    border-radius: 5px;
    text-decoration: none;
}
#signUpBtn-link:hover{
    cursor: pointer;
    text-decoration: underline ,wavy;
    box-shadow:0px -1px 20px 1.0px var(--clr-hover-list),
    0px -1px 20px 1.0px var(--clr-hover-list),
    0px -1px 20px 1.0px var(--clr-hover-list); 
}
#Cl-Lo-wrapper{
    visibility: hidden;
}
#login-container:focus-within #Cl-Lo-wrapper{
    visibility: visible;
    text-align: center;
    
}
.btn-Cl-Lo{
    width: 60px;
    height: 20px;
    margin-top: 50px;
    color:var(--clr-green);
    font-size: var(--p-f-size);
    font-weight: bold;
    border-radius: 5px;
    background: rgba(255,255,255,0);
    -webkit-backdrop-filter: blur(1px);
    backdrop-filter: blur(1px);
    border: 1px solid rgba(255,255,255,0);
    border: 1px solid rgba(242,245,246,0.025);
    
}
.btn-Cl-Lo:hover{
    cursor: pointer;
    box-shadow:0px -1px 20px 1.0px var(--clr-hover-list),
    0px -1px 20px 1.0px var(--clr-hover-list),
    0px -1px 20px 1.0px var(--clr-hover-list);  
}

.grid{
    display: grid;
    grid-template-columns: 1.5fr 0.25fr 0.25fr 0.25fr 0.25fr;
    
}


 


