body{
    
    margin-top: 150px;
    margin-left: 540px;
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
    width: 300px;
    height: 300px;
    margin-left: 50px;
    border-radius: 8px;
    border: 10px;
}

header{
    margin: 15%;
}

h1{
    text-align: center;
    box-shadow: 0 0 10 0 rgba(0, 0, 0, 0.15);
}



#user{
    text-align: center;
    margin-left: 60px;
}

#pass{
    margin-left: 60px;
    text-align: center;
}

#vpass{
    margin-left: 60px;
    text-align: center;
}

#login{
    
    margin-left: 120px;
    margin-top: 100px;
    height: 20px;
    margin-bottom: 50px;
}

#link{
    margin-left: 128px;
    
}