:root{

    --clr-hover-list:#b4000F;
    --clr-Basic :#fff;
    --clr-green:#00ca1b;
    --clr-bronze:#AF672D;
    --clr-beige:#E4B455;               /*משנים את השמות אחר כך*/
    

/*font size*/
--header-f-size:1.70em; 
--p-f-size: calc(var(--header-f-size)*0.5) ;


}